@charset "UTF-8";

@viewport {
	width: device-width;
	zoom: 1;
}

* {
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}

body,
html {
	scroll-behavior: smooth;
	-webkit-backface-visibility: hidden;
	transition: transform .15s ease-out;
	transform: translateZ(0);
	will-change: transform;
	height: 100%;
	width: 100%;
	margin: 0;
}

body::-webkit-scrollbar{
	width: 8px;
}
div::-webkit-scrollbar{
	width: 8px;
}

body::-webkit-scrollbar-track{

	background: #cccccc;
}
div::-webkit-scrollbar-track {
    background: #cccccc; 
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background: #eee;
}
div::-webkit-scrollbar-thumb {
	border-radius: 5px;
    background: #aaa;
}

nav {
	width: 100%;
	height: 75px;
	margin-left:0;
	display: flex;
	background-color: white;
}

nav img{
	margin: 10px auto auto auto;
	width: 55px;
}

nav div{
	display: flex;
	margin: auto;
}

nav a{
	display: flex;
	margin: auto;
	transition-duration: .3s;
}

nav a:hover{
	transform: scale(1.10);
}

.main{
	width: 100%;
	height: 90%;
	background-color: white;
}

.main-img{
	display: flex;
	width: 50%;
	margin: auto;
}

.main-img img{
	width: 20%;
	margin: auto;
}

.main-title{
	display: flex;
	flex-direction: column;
	height: 15%;
	margin-top: 5%;
}

.main-title h1{
	margin: auto;
	font-size: 40px;
	font-family: arial, sans-serif;
	color: #6c63ff;
}

.main-title p{
	margin: 10px auto auto auto;
	font-size: 20px;
	font-family: arial, sans-serif;
	color: #6c63ff;
}

.main-button{
	display: flex;
	padding-bottom: 100px;
}

.main-button a{
	margin: auto;
	padding: 15px 30px;
	font-family: arial, sans-serif;
	font-size: 17px;
	color: white;
	background-color: #6c63ff;
	border-radius: 50px;
	text-decoration: none;
	transition-duration: 0.3s;
}

.main-button a:hover{
	background-color: rgba(108,99,255, 0.8);
}

.main-button a:active{
	background-color: rgba(108,99,255, 0.7);
}

.wallpaper{
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	flex-direction: column;
	background-repeat: no-repeat;
	background-position: center;
}

#wp{
	background-image: url("img/wp7.jpg");
	background-attachment: fixed;
}

#wp1{
	background-image: url("img/wp.jpg");
	background-attachment: fixed;
}

.wallpaper p{
	margin: 15% auto auto auto;
	font-size: 40px;
	width: 25%;
	font-family: arial, sans-serif;
	color: white;
	text-align: center;
	font-weight: bold;
}

.wallpaper .button-wp{
	margin: 0 auto auto auto;
	padding: 15px 30px;
	font-family: arial, sans-serif;
	font-size: 17px;
	color: white;
	background-color: #6c63ff;
	border-radius: 50px;
	text-decoration: none;
	transition-duration: 0.3s;
	outline: none;
	border: none;
	cursor: pointer;
}

.wallpaper .button-wp:hover{
	background-color: rgba(108,99,255, 0.8);
}

.wallpaper .button-wp:active{
	background-color: rgba(108,99,255, 0.7);
}

.reveal{
	opacity: 0;
	transform: translateY(-30px);
}

.reveal-visible{
	opacity: 1;
	transform: translateY(0);
	transition: 1s cubic-bezier(.5, 0, 0, 1);
}

footer {
	width: 100%;
	min-height: 30%;
	background-color: rgb(224, 224, 224);
	display: flex;
	flex-direction: column;
}

.f-ctn {
	margin: auto;
	width: 100%;
	height: 100px;
	display: flex;
}

.f-s-ctn {
	display: flex;
	margin: auto;
}

.f-s-ctn img {
	width: 40px;
	margin: auto 5px auto auto;
}

.f-s-ctn h1 {
	margin: auto;
	font-size: 1.3em;
	font-family: arial, sans-serif;
	color: rgb(91, 91, 91);
}

.ctn-f-middle {
	width: 100%;
	height: 100px;
}

.sf-middle {
	width: 33%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.sf-middle a{
	margin: auto;
	background-color: transparent;
	/* border-radius: 25px; */
	font-weight: bold;
	font-family: arial, sans-serif;
	font-size:12px;
	padding: 5px 10px;
	transition-duration: 0.3s;
	color: #555;
}


.sf-liens{
	width: 50%;
	display: flex;
	margin: auto;
}

.border {
	width: 100%;
	height: 1px;
	background-color: white;
	margin: auto;
}

.copyright {
	width: 100%;
	height: 100px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

#p_copyright{
	margin: auto;
	color: rgb(91, 91, 91);
	font-family: arial, sans-serif;
	font-size: 16px;
}

#credits{
	margin: auto;
	font-family: arial, sans-serif;
	font-size:10px;
	padding: 5px 10px;
	transition-duration: 0.3s;
	color: #555;
}

.min-wallpaper{
	width: 100%;
	height: 30%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	flex-direction: column;
	background-repeat: no-repeat;
	background-position: center;
}

.min-wallpaper p{
	margin: auto;
	font-size: 40px;
	font-family: arial, sans-serif;
	color: white;
	text-align: center;
	font-weight: bold;
	text-shadow: 2px 2px #85144b;
}


#article-wp{
	background-image: url("img/wp4.jpg");
	background-attachment: fixed;
}

.main-article{
	display: flex;
	flex-direction: column;
	min-height: 70%;
}

.article-header{
	width: 100%;
	min-height: 100px;
	display: flex;
	border-bottom: 1px solid #6c63ff;
	background-color: #6c63ff;
}

.article-header h1{
	margin: auto auto auto 30px;
	font-size: 30px;
	font-family: arial, sans-serif;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}

.article-header h2{
	margin: auto 20px auto auto;
	font-size: 20px;
	font-family: arial, sans-serif;
	color: white;
	text-align: right;
}

.article-body{
	width: 100%;
	min-height: 500px;
}

.article-body p{
	margin: auto 50px 50px 50px;
	font-size: 20px;
	font-family: arial, sans-serif;
	color: #6c63ff;
	width: calc(100% - 100px);
	text-align: justify;
	text-justify: inter-word;
}

.article-body p:first-child{
	margin: 50px auto 50px 50px;
}

.article-footer{
	display: flex;
	height: 150px;
	border-top: 1px solid #6c63ff;
}

.article-footer a, .article-footer button{
	margin: auto;
	padding: 15px 30px;
	font-family: arial, sans-serif;
	font-size: 17px;
	color: white;
	background-color: #6c63ff;
	border-radius: 50px;
	text-decoration: none;
	transition-duration: 0.3s;
	border: none;
	outline: none;
}

.article-footer a:hover, .article-footer button:hover{
	background-color: rgba(108,99,255, 0.8);
}

.article-footer a:active, .article-footer button:active{
	background-color: rgba(108,99,255, 0.7);
}

.article-footer p{
	margin: auto;
	padding: 15px 30px;
	font-family: arial, sans-serif;
	font-size: 17px;
	color: white;
	background-color: #6c63ff;
	border-radius: 50px;
}
.modal{
	position: absolute;
	top: 5%;
	left: 10%;
	width: 80%;
	height: 80%;
	border-radius: 10px;
	border: 1px solid #777;
	background-color: #fefefe;
	margin: 50px auto auto auto;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.12), 0 10px 20px rgba(0, 0, 0, 0.10);
	z-index: 3;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}

#earth{
	top: 5%;
	left: 25%;
	width: 50%;
}

.close-modal{
	position: absolute;
	top: 1%;
	right: 1%;
	font-size: 30px;
	font-weight: bolder;
	cursor: pointer;
	padding: 2px 2px;
	border-radius: 50%;
	width: 34px;
	text-align: center;
	transition-duration: 0.2s;
}

.close-modal:hover{
	background-color: #eee;
}

.head-modal{
	min-height: 100px;
	max-height: 20%;
	border-radius: 10px 10px 0 0;
	display: flex;
	flex-direction: column;
}

.head-modal img{
	width: 50px;
	margin: auto;
}

.body-modal{
	overflow-y: scroll;
	height: 85%;
	background-color: #fefefe;
}

#apod_content, #spacex_content{
	font-family: arial, sans-serif;
	font-size: 18px;
	margin: 50px auto 50px auto;
	text-align: center;
	width: 80%;
	text-justify: auto;
}

.body-modal img{
	width: 100%;
}

.body-modal div{
	display: flex;
}

#apod_copyright, #spacex_launchsite, #spacex_type, #mars_rover, #mars_pictures{
	margin: 25px  25px 25px auto;
	text-align: right;
}

#apod_date, #spacex_date, #spacex_rockets, #mars_camera, #mars_status{
	margin: 25px auto 25px 25px;
	text-align: left;
}

#spacex_flight{
	margin: 25px auto 25px auto;
	text-align: center;
}

#spacex_img{
	background-image: url("img/wp4.jpg");
}

.modal_sep{
	background-color: #eee;
}

.overlay{
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: black;
	opacity: 0.5;
	top: 0;
	left: 0;
}

.hidden-modal {
	display: none;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.button-wp{

}

#spacex_success{
	width: 40px;
	margin: auto 25px auto auto;
}

#success{
	margin: auto auto auto 25px;
}

.modal-p{
	font-family: arial, sans-serif;
	font-size: 18px;
	text-align: left;
	width: 33%;
	font-weight: bold;
}

.h1-modal{
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 25px;
	margin: auto;
	text-align: center;
}

#spacex_logo{
	width: 150px;
	margin: auto;
}

.planets{
	width: 75px;
	position: -webkit-sticky;
	position: sticky;
	top: 10%;
	left: 0;
	opacity: 0.5;
}

#seeEarth{
	width: 75px;
	/*height: 50px;*/
	margin: 0;
	z-index: 3;
	display: flex;
	cursor: pointer;
	background-color: transparent;
}

#seeEarth img{
	width: 100%;
}

#seeMars{
	left: 0;
	width: 50px;
	/*height: 50px;*/
	margin-left: 12px;
	z-index: 3;
	display: flex;
	cursor: pointer;
	background-color: transparent;
}

#seeMars img{
	width: 100%;
}

#insight{
	left: 0;
	width: 50px;
	margin-left: 12px;
	z-index: 3;
	display: flex;
	cursor: pointer;
	background-color: transparent;
}

#insight img{
	width: 50px;
}

#epic_date, #mars_date{
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	margin: 10px auto;
	text-align: center;
}

/* ARTICLES */
.main-act{
	display: flex;
	margin: 25px auto;
	width: 70%;
	flex-wrap: wrap;
	justify-content: normal;
	align-content: center;
}

.act{
	box-sizing: border-box;
	width: 400px;
	background:transparent;
	box-shadow: 0 1px 3px 1px rgba(0,0,0,.1);
	border-radius: 6px;
	min-height: 250px;
	display: flex;
	flex-direction: column;
	margin: 15px auto;
}

.act-title{
	padding: 20px 0;
}

.act-title h3{
	width: 90%;
	font-size: 30px;
	color: #444;
	margin: auto;
	font-family: arial, sans-serif;
	padding: 30px 0;
	text-align: center;
}

.act-author{
	padding: 5px 0;
}

.act-author h4{
	width: 90%;
	font-size: 12px;
	color: #444;
	margin: auto;
	font-family: arial, sans-serif;
}

.act-descr{
	padding: 20px 0;
}

.act-descr p{
	width: 90%;
	font-size: 13px;
	color: #444;
	margin: auto;
	font-family: arial, sans-serif;
}

.act-img{
	height: 150px;
}

.act-content{
	padding: 20px 0;
}

.act-content p{
	width: 90%;
	font-size: 12px;
	color: #444;
	margin: auto;
	font-family: arial, sans-serif;
}

.act-more{
	padding: 20px 0;
	display: flex;
	margin: auto auto 0 auto;
	width: 100%;
}

.act-more a{
	width: 90%;
	font-size: 12px;
	color: #222;
	margin: auto;
	font-family: arial, sans-serif;
	padding: 10px 10px;
	border: 1.5px solid #222;
	border-radius: 10px;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	transition-duration: .3s;
}

.act-more a:hover{
	background-color: #222;
	color: white;
}
.act-more a:active{
	background-color: #222;
	color: white;
}

/* INSIGHT */

.wp-insight{
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	flex-direction: column;
	background-repeat: no-repeat;
	background-position: center;
}

#wp-insight{
	background-image: url("img/rover1.jpg");
}

#wp-insight2{
	background-image: url("img/rover2.jpg");
}

#wp-insight2 div{
	background-color: rgba(20, 20, 20, 0.6);
	margin: auto;
	width: 50%;
	padding: 1%;
}

.wp-insight h1{
	margin: auto auto 5% auto;
	font-size: 50px;
	font-family: arial, sans-serif;
	color: white;
	text-align: center;
	font-weight: bold;
}

.wp-insight p{
	margin: 5% auto auto auto;
	font-size: 25px;
	font-family: arial, sans-serif;
	color: white;
	text-align: center;
}

#wp_today{
	margin: auto auto 1% auto;
	font-size: 50px;
	width: 50%;
	font-family: arial, sans-serif;
	color: white;
	text-align: center;
	font-weight: bold;
}


.insight-current-weather{
	display: flex;
	flex-direction: column;
	margin: auto;
	background-color: rgba(20, 20, 20, 0.6);
	padding: 2%;
	width: 200px;
	height: 200px;
}

.insight_title, .insight-lh-weather{
	margin: 5% auto auto auto;
}

.insight_title h2{
	font-size: 40px;
	font-family: arial, sans-serif;
	color: white;
	text-align: center;
	font-weight: bold;
}

.insight_title h3, .insight-lh-weather h3{
	font-size: 30px;
	font-family: arial, sans-serif;
	color: white;
	text-align: center;
	font-weight: normal;
}

.insight-week-weather{
	width: 80%;
	min-height: 100px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: normal;
	align-content: center;
}

.insight-day{
	background-color: rgba(20, 20, 20, 0.6);
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 1%;
	width: 125px;
	height: 125px;
}

.insight-day-top, .insight-day-bottom{
	display: flex;
	flex-direction: column;
	margin: auto;
}

.insight-day h2{
	font-size: 20px;
	font-family: arial, sans-serif;
	color: white;
	text-align: center;
	font-weight: bold;
}

.insight-day h3{
	font-size: 18px;
	font-family: arial, sans-serif;
	color: white;
	text-align: center;
	font-weight: normal;
}

.insight-separator{
	height: 1px;
	background-color: white;
	width: 50%;
	margin: auto;
}

.insight-table{
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
}

.table-title{
	width: 100%;
	height: 100px;
	display: flex;
	background-color: #eee;
}

.table-title h2{
	font-size: 30px;
	font-family: arial, sans-serif;
	color: black;
	text-align: center;
	font-weight: bold;
	margin: auto;
}

.insight-table table{
	width:70%;
	border-collapse: collapse;
	background-color: white;
	font-family: verdana, sans-serif;
	font-size: 14px;
	border: none;
	page-break-inside: avoid;
	margin: auto;
	border-radius: 10px;
}

.insight-table th {
	height: 40px;
	color: black;
	border-bottom: 1px solid #aaa;
}

.insight-table td {
	height: 50px;
	text-align: center;
	margin: auto;
}


.insight-table tbody tr:nth-child(2n + 1){
	background-color: #f9f9f9;
}

.td-bold{
	font-weight: bold;
}

.wind-arrow{
	width: 25px;
}

.insight-sub-title h1, .insight-sub-title p{
	color: #c49176 !important;
}

#img_rover{
	width: 50%;
	margin: auto
}

/* A propos */

#main-apropos{
	background-color: #eee;
	width: 100%;
}

#apropos{
	width: 70%;
	height: 100%;
	background-color: white;
	margin: 25px auto;
}

#apropos_h1{
	display: flex;
}

#apropos_h1 h1{
	margin: 30px auto;
	font-size: 40px;
	font-family: arial, sans-serif;
	color: #6c63ff;
	text-align: center;
}

#apropos-ctn{
	width: 100%;
	background-color: #eee;
	display: flex;
	padding-bottom: 50px;
}

#apropos-img{
	width: 40%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	flex-direction: column;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("img/wp3.jpg");
}

#apropos-ctn div:last-child{
	width: 60%;
	background-color: white;
	padding: 25px 0;
}

#apropos-ctn div:last-child h2{
	font-size: 30px;
	font-family: arial, sans-serif;
	text-align: center;
	font-weight: bold;
	margin: 20px auto;
}
#apropos-ctn div:last-child p{
	font-size: 17px;
	font-family: arial, sans-serif;
	text-align: center;
	margin: 15px auto;
	width: 75%;
}

#us-ctn{
	width: 100%;
	height: 30%;
	background-color: white;
	display: flex;
	margin-top: 50px;
	padding-bottom: 25px
}

#us-ctn a{
	margin: auto;
	text-decoration: none;
}

#us-ctn img{
	width: 150px;
}

#us-ctn p{
	font-size: 17px;
	font-family: arial, sans-serif;
	text-align: center;
	margin: 15px auto;
	color: #6c63ff;
	font-weight: bold;
}

@media (min-width: 0) and (max-width: 449px){
	.wallpaper p{
		width: 70%;
		margin: auto;
	}

	.main-title{
		height: auto;
	}

	.subsection img{
		width: 90%;
		margin: auto;
	}

	.main-title h1{
		margin: 50px auto auto auto;
		font-size: 40px;
		color: #6c63ff;
		text-align: center;
		width: 99%;
	}

	.main-title p{
		margin: 50px auto 50px auto;
		font-size: 20px;
		text-align: center;
		width: 99%;
	}

	.main-img{
		flex-direction: column;
	}

	.f-s-ctn img {
		width: 40px;
		margin-right: 10px;
	}

	.article-body p{
		margin: auto 25px 30px 25px;
		font-size: 20px;
		width: calc(100% - 50px);
	}

	.article-body p:first-child{
		margin: 50px auto 50px 25px;
	}

	.main-img{
		padding-bottom: 50px;
	}

	.article-header{
		flex-direction: column;
	}

	.article-header h1{
		text-align: center;
		margin: auto;
	}

	.article-header h2{
		text-align: center;
		margin: auto;
		font-size: 17px;
		padding-bottom: 15px;
	}

	.modal{
		top: 2% !important;
		left: 0 !important;
		width: 99% !important;
		height: 90%;
	}

	#wp-insight2 div{
		background-color: transparent;
		width: 90%;
	}

	.wp-insight h1{
		font-size: 50px;
	}

	.wp-insight p{
		font-size: 18px;
	}

	.insight-sub-title h1{
		font-size: 35px;
	}

	.insight-sub-title p{
		font-size: 18px;
		width: 90%;
	}

	#img_rover{
		width: 250px;
	}

	.insight-day{
		width: 100px;
		height: 100px;
		padding: 10px;
		margin: 1% auto;
	}

	#wp-insight{
		height: auto;
		padding: 50px 0;
	}

	.insight-week-weather{
		margin-top: 50px;
	}

	.insight-current-weather{
		margin-top: 50px;
	}

	.insight-table{
		display: none; /* a finir le responsive de table */
	}

	#us-ctn{
		flex-direction: column;
	}

	#apropos {
		width: 90%;
	}

	#apropos_h1 h1{
		margin: 40px auto 20px auto;
		font-size: 35px;
		font-family: arial, sans-serif;
		color: #6c63ff;
		text-align: center;
	}

	#apropos-ctn{
		flex-direction: column;
	}

	#apropos-ctn div:last-child {
		width: 100%;
	}

	#apropos-img {
		width: 100%;
		height: 300px;
	}
}

@media (min-width: 450px) and (max-width: 800px){
	.wallpaper p{
		font-size: 25px;
		width: 30%;
		margin: auto auto auto auto;
	}

	.main-title{
		height: auto;
	}

	.subsection img{
		width: 40%;
		margin: auto;
	}

	.main-title h1{
		margin: 50px auto auto auto;
		font-size: 40px;
		color: #6c63ff;
		text-align: center;
		width: 99%;
	}

	.main-title p{
		margin: 50px auto 50px auto;
		font-size: 20px;
		text-align: center;
		width: 99%;
	}
}

